@tailwind base;
@tailwind components;
@tailwind utilities;
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid #4a5568; /* a dark gray border */
    padding: 0.75rem; /* 12px */
    text-align: left;
}

th {
    background-color: #2d3748; /* a slightly darker gray for headers */
    font-weight: bold;
}
